<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Microsoft.Diagnostics.Tracing.TraceEvent 3.1.24 -->
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="3.1.24" targetFramework="net9.0" />
  
  <!-- YamlDotNet 16.3.0 -->
  <package id="YamlDotNet" version="16.3.0" targetFramework="net9.0" />

  <!-- MaterialDesignColors 5.2.1 -->
  <package id="MaterialDesignColors" version="5.2.1" targetFramework="net9.0" />

  <!-- MaterialDesignThemes 5.2.1 -->
  <package id="MaterialDesignThemes" version="5.2.1" targetFramework="net9.0" />

  <!-- System.Diagnostics.EventLog 9.0.9 -->
  <package id="System.Diagnostics.EventLog" version="9.0.9" targetFramework="net9.0" />

  <!-- DynamicExpresso.Core 2.19.2 -->
  <package id="DynamicExpresso.Core" version="2.19.2" targetFramework="net9.0" />

  <!-- Antlr4.Runtime.Standard 4.13.1 -->
  <package id="Antlr4.Runtime.Standard" version="4.13.1" targetFramework="net9.0" />
</packages>